frontend/
gateway/

/services/disease-diagnosis/models/
/servies/medical-imaging/models/
services/drug-recommendation/
services/medical-chatbot/


# Python virtual environments
.venv/
venv/
env/
ENV/

# Local environment variable files
.env
.env.*
