frontend/
gateway/

services/drug-recommendation/
services/medical-chatbot/
services/medical-imaging/

# Python virtual environments
.venv/
venv/
env/
ENV/

# Local environment variable files
.env
.env.*
